[tool.poetry]
name = "pyopia"
version = "0.1.0"
description = "A Python Ocean Particle Image Analysis toolbox."
authors = ["PyOPIA contributers"]
readme = "README.md"
packages = [{include = "pyopia"}]

[tool.poetry.dependencies]
python = ">=3.10,<3.11"
flake8 = "^6.1.0"
numpy = "^1.24.0"
pandas = {version = ">=2.1", extras = ["computation", "hdf5"]}
h5py = "^3.9.0"
scipy = "^1.11.2"
scikit-image = "^0.21.0"
pytest = ">=7.2.0"
imageio = "^2.31.3"
matplotlib = ">=3.7"
tqdm = "^4.66.1"
pytest-error-for-skips = "^2.0.2"
nbclient = "0.7"
sphinx = "5.0"
sphinx-rtd-theme = ">=0.5.0"
sphinxcontrib-napoleon = ">=0.7"
sphinx-togglebutton = "^0.3.2"
sphinx-copybutton = "^0.5.2"
readthedocs-sphinx-search = "^0.3.1"
myst-nb = "^0.17.2"
jupyter-book = "^0.15.1"
ipykernel = ">=6.19.4"
urllib3 = "<2.0"
gdown = "^4.7.1"
cmocean = "^3.0.3"
toml = "^0.10.2"
xarray = "^2023.8.0"
typer = {extras = ["all"], version = "^0.9.0"}
tensorflow-cpu = "2.10.1"

[tool.poetry.scripts]
pyopia = "pyopia.cli:app"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.setuptools_scm]
