    flake8
    numpy
    pandas[hdf5, computation]>=2.1
    h5py
    scipy
    scikit-image
    pytest>=7.2.0
    imageio
    matplotlib>=3.7
    docopt
    tqdm
    setuptools
    pytest-error-for-skips
    nbclient==0.7
    sphinx==5.0
    sphinx_rtd_theme>=0.5.0
    sphinxcontrib-napoleon>=0.7
    sphinx-togglebutton
    sphinx-copybutton
    readthedocs-sphinx-search
    jupyter_book==1.15.1
    tensorflow-cpu==2.10.1
    ipykernel>=6.19.4
    urllib3<2.0
    gdown
    cmocean
    toml
    xarray
    typer[all]