[General]
raw_files = 'raw_data/*.silc'

[steps]

    [steps.classifier]
    pipeline_class = 'pyopia.classify.Classify'
    model_path = 'keras_model.h5'

    [steps.createbackground]
    pipeline_class = 'pyopia.background.CreateBackground'
    average_window = 10
    instrument_module = 'silcam'

    [steps.load]
    pipeline_class = 'pyopia.instrument.silcam.SilCamLoad'

    [steps.correctbackground]
    pipeline_class = 'pyopia.background.CorrectBackgroundAccurate'
    bgshift_function = 'fast'

    [steps.imageprep]
    pipeline_class = 'pyopia.instrument.silcam.ImagePrep'
    image_level = 'imraw'

    [steps.segmentation]
    pipeline_class = 'pyopia.process.Segment'
    threshold = 0.85

    [steps.statextract]
    pipeline_class = 'pyopia.process.CalculateStats'

    [steps.output]
    pipeline_class = 'pyopia.io.StatsH5'
    output_datafile = 'proc/test'