[general] # general setting independent of processing steps
raw_files = 'raw_data/*.silc' # string used to obtain list of raw data files for processing
pixel_size = 24 # pixel size of imaging system in microns

[steps] # setup of analysis pipeline order, functions, and parameters

    [steps.classifier]
    pipeline_class = 'pyopia.classify.Classify'
    model_path = 'keras_model.h5' # path to trained nn model

    #[steps.createbackground]
    #pipeline_class = 'pyopia.background.CreateBackground'
    #average_window = 10 # number of images used to create background
    #instrument_module = 'silcam' # used to determina method for loading images. Either 'silcam', 'holo', or 'imread'

    [steps.load]
    pipeline_class = 'pyopia.instrument.silcam.SilCamLoad'

    #[steps.correctbackground]
    #pipeline_class = 'pyopia.background.CorrectBackgroundAccurate'
    #bgshift_function = 'accurate' # optional 'fast' or 'accurate' method for moving backgrounds. For static background use 'pass' or comment this line.

    [steps.imageprep]
    pipeline_class = 'pyopia.instrument.silcam.ImagePrep'
    image_level = 'imraw' # the level of processing for further analysis. Either 'imraw' for ignoring background or 'imc' for using the backgroun-corrected image. Defaults to 'imc' if not defined.

    [steps.segmentation]
    pipeline_class = 'pyopia.process.Segment'
    threshold = 0.85 # threshold used for segmentation

    [steps.statextract]
    pipeline_class = 'pyopia.process.CalculateStats'

    #[steps.output]
    #pipeline_class = 'pyopia.io.StatsToDisc'
    #output_datafile = 'proc/test' # prefix path for output nc file