name: Build and test

on: [pull_request]

jobs:
  Windows_pip:
    runs-on: windows-latest
    timeout-minutes: 15

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install pyopia
        run: pip install -e ".[classification]"

      - name: Test
        run: python -m pytest -v
  Ubuntu_poetry:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v3
      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10' 
      - name: Install poetry
        uses: abatilo/actions-poetry@v2
      - name: Install dependencies
        run: poetry install --extras "classification"
      - name: Run the automated tests
        run: poetry run pytest -v
  MacOS_poetry:
    runs-on: macos-latest
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v3
      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10' 
      - name: Install poetry
        uses: abatilo/actions-poetry@v2
      - name: Install dependencies
        run: poetry install --extras "classification-arm64"
      - name: Run the automated tests
        run: poetry run pytest -v
