name: Build and test

on: [pull_request]

jobs:
  Windows_uv:
    runs-on: windows-latest
    timeout-minutes: 60

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.6.10"

      - name: Install PyOPIA
        run: uv sync --all-extras --dev

      - name: Run the automated tests
        run: uv run pytest -v

  Ubuntu_uv:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - name: Check out code
      - uses: actions/checkout@v3

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.6.10"

      - name: Install PyOPIA
        run: uv sync --all-extras --dev

      - name: Run the automated tests
        run: uv run pytest -v

  MacOS_uv:
    runs-on: macos-latest
    timeout-minutes: 60

    steps:
      - name: Check out code
      - uses: actions/checkout@v3

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.6.10"

      - name: Install PyOPIA
        run: uv sync --all-extras --dev

      - name: Run the automated tests
        run: uv run pytest -v
